.custom-input {
    width: 200px;
    margin: 10px;
}
div.form-wrapper-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 100%;
}